# Created by .ignore support plugin (hsz.mobi)
.idea/
env_hotels/
henv/
venv/
*.pyc
app/apis/logs/
app/logs/
*.log.*
*.log
*.lock
*.pytest_cache*
nohup.out
apidoc/
node_modules/
hotelApi/
忘掉设计模式，使用最强最稳定最有套路的万能编程思维-python oop四步转化公式/*